@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}
.container{

    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 2em;
}

//styles for all the cards
.card-container{
    box-shadow: 2px 10px 15px 0px rgba(0,0,0,0.75) inset;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #fcf7ff;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    display: flex;
    justify-content:space-around;
}
.checkbox{
    visibility: hidden;
}
.card {
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.75s;
    transform-style: preserve-3d;
}

.checkbox:checked + label .card .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
}

.card-back {
    background-color: white;
    //color: blue;
    border-radius: 10px;
    transform: rotateY(180deg);
}

//first card styling

.front-face{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-around;  
    
}

.front-face > img{
    width: 67.5%;
    height: 70%;
    border-radius: 7.5px;
    border: thin solid black;
    filter: grayscale(100%);
}

.front-face > h3{
    font-size: 1.5em;
    font-weight: bold;
}

.name{
    font-weight: bold;
}

.price{
    font-style: italic;
    margin-top: -20px; 
}

.back-face{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    
}

.back-face > img{
    padding-top: 10px;
    width: 69%;
    height: 60%;
    border-bottom: thin solid rgba(128, 128, 128, 0.10);
}

.back-face > button{
    color: white;
    border-radius: 15%;
    border: thin solid blue;
    background-color: blue;
    margin-bottom: 20px;
}